.jumbotron{
  text-align: center;
}

.topCol{
    display: inline-block;
    text-align: left;
}
/* .name, .date{
  text-align: center;
  display: inline-block;
} */

/* .create{
  display: inline;
} */

/* .grandparent{
  display: inline-block;
}

.input-xs {
  padding: .5rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
} */

.leftCol{
  color: navy;
  background-color: navy;
}

/* .value {
  background-color: navy;
} */
