
.jumbotron{
  text-align: center;
}



.leftCol{
  /* background-color: grey; */
}

.topCol{
  background-color: AntiqueWhite ;
  margin-left: 15px;
  margin-right: 15px;
}

.input-group>.input-group-prepend {
    min-width: 130px;
}
.input-group .input-group-text {
    width: 100%;
}

.value{
      max-width: 70px;
}

.farRightCol{
  background-color: AntiqueWhite;
}



#dayOfMonth{
  width: 210px;
}

/* .value{
  background-color: navy;
} */
