
.jumbotron{
  text-align: center;
}


.leftCol{
  /* background-color: grey; */
}


.input-group>.input-group-prepend {
    min-width: 130px;
    /* max-width: 100px; */
}
.input-group .input-group-text {
    width: 100%;
}

.value{
      max-width: 70px;
}

#rightCol{
  background-color: navy;
}

#dayOfMonth{
  width: 210px;
}

/* .value{
  background-color: navy;
} */
