.container{
  /* border: 1px solid #162635; */
}

body {
  background-color: #DBE8F4;
}

.navbar{
  background-color: #DBE8F4 !important;
}

.nav-link{
  color: #162635;
}



/* ------------------------- */
.table-header-rotated th.row-header{
  width: auto;
}

.table-header-rotated td{
  width: 40px;
  border-top: 1px solid #162635;
  border-left: 1px solid #162635;
  border-right: 1px solid #162635;
  vertical-align: middle;
  text-align: center;
}

.table-header-rotated th.rotate-45{
  height: 80px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 14px;
  line-height: 0.8;
}

.table-header-rotated th.rotate-45 > div{
  position: relative;
  top: 0px;
  left: 40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;
  border-left: 1px solid #162635;
  border-right: 1px solid #162635;
  border-top: 1px solid #162635;
}

.table-header-rotated th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  // width: 100%;
  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
  // white-space: nowrap; /*whether to display in one line or not*/
}
/* ------------------------- */


.adminButton{
  height: 100px;
  width: 250px;
  margin-top: 40px;
  background-color: #162635;
  border: 6px solid #162635;
  color: #EAECEF;
  border-radius: 20px;
  font-size: 20px;
}

.btn-tsButton{
  margin-top: 20px;
  background-color: #162635;
  border: 6px solid #162635;
  color: #EAECEF;
}

.btn-tsButton:hover{
  border-color: white;
  color: #EAECEF;
}


.page-header{
  height: 180px;
  text-align: center;
  /* background-color: #DBE8F4; */
  color: #162635;
}

.vertical-center{
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.page-header h1{
  font-size: 80px;
}

.page-header p{
  font-size: 20px;
}

.adminTrue{
    background-color: #E00000;
    border-color: #E00000;
    color: #EAECEF;
    /* visibility: hidden; */
}

.adminFalse{
    visibility: hidden;
}

.logout{
  text-align: right;
}



.wrapper{
  /* border: 1px solid #162635; */
}


.leftCol{
  /* border: 1px solid #162635; */
}

.middleCol{
  /* border: 1px solid #162635; */
}


.rightCol{
  /* border: 1px solid #162635; */
}

.btn-secondary{
  background-color: #51616F;
}



.input-group>.input-group-prepend {
    min-width: 150px;
}
.input-group .input-group-text {
    width: 100%;
}

.input-group>.totHoursBox {
    min-width: 60px;
    max-width:220px;
}
.input-group .input-group-text {
    width: 100%;
}
